@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --accent: rgb(158, 35, 115);
    --accent-muted: rgb(235, 205, 225);
    --shadow: rgba(61, 3, 82, 0.5);

    --box-shadow: 2px 2px 5px var(--shadow);
}

body {
    font-family: 'Lato', Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    font-size: 1.2rem;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 175px 5fr; 
}

header {
    padding: 1.5rem 1.5rem 0;
    grid-column: 2;
    grid-row: 1;
    box-shadow: 0 5px 5px var(--shadow);
}

.toolbar {
    display: grid;
    grid-template-columns: 5fr 5rem 3.5rem 1fr;
    grid-template-rows: 1fr;
    align-items: center;
}

#btn-search {
    background-image: url('./icons/magnify.svg');
    background-color: white;
    width: 2.5rem;
    height: 2.5rem;
    vertical-align: top;
}

#dashboard-search {
    border-radius: 18px;
    width: 80%;
    line-height: 2;
    padding: 2px 1rem;
}

.notifications {
    width: 1.5rem;
    height: 1.5rem;
}

.toolbar >.user-profile-icon img{
    width: 2.5rem;
    height: 2.5rem;
}

.toolbar > .user-name {
    font-size: 1.3rem;
    font-weight: 700;
}

.user-panel {
    margin: 1rem 0 .4rem;
    display: grid;
    grid-template-columns: 3fr 2fr;
}

.welcome {
    display: grid;
    grid-template-columns: 4rem 1fr;
    grid-template-rows: 1rem 3rem;
    grid-gap: 1rem;
}

.welcome p {
    font-weight: 700;
}

.welcome .user-name  {
    grid-column: 2;
    grid-row: 2;
    font-size: 2rem;
    line-height: 1;
}

.welcome > .user-profile-icon {
    grid-column: 1;
    grid-row: 1/ 3;
}

.user-panel .user-profile-icon img {
    width: 4rem;
    height: 4rem;
}

.content-creation-nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.5rem;
    align-items: center;
}

.content-creation-nav button {
    background-color: var(--accent);
    color: #fff;
    width: 120px;
    padding: .6rem 1.5rem;
    border-radius: 28px;
    font-weight: 700;
    font-size: 1.1rem;
}

.sidebar {
    grid-column: 1;
    grid-row: 1 / 3;
    background-color: var(--accent);
    padding-top: 1.8rem;
}

.logo {
    font-size: 1.5rem;
    margin-left: 4.6rem;
    color: #fff;
    position: relative;
}

.logo::before {
    content: url('./icons/view-dashboard.svg');
    filter: invert(100%);
    display: inline-block;
    position: absolute;
    top: -2px;
    left: -3rem;
    width: 2rem;
    height: auto;
}

nav ul {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.5rem;
    padding-left: 1.8rem;
}

nav li {
    text-indent: 3rem;
    list-style: none;
    background-repeat: no-repeat;
    font-weight: bold;
    font-size: 1.3rem;
    filter: invert(100%);
}

nav a,
nav a:visited {
    color: #000;
    text-decoration: none;
}

.home {
    background-image: url('./icons/home.svg');
}

.profile {
    background-image: url('./icons/card-account-details.svg');
}

.messages {
    background-image: url('./icons/message.svg');
}

.history {
    background-image: url('./icons/history.svg');
}

.tasks {
    background-image: url('./icons/calendar-check-outline.svg');
}

.communities {
    background-image: url('./icons/account-group.svg');
}

.settings {
    background-image: url('./icons/cog-outline.svg');
    margin-top: 2rem;
}

.support {
    background-image: url('./icons/help-circle.svg');
}

.privacy {
    background-image: url('./icons/shield-lock.svg');
}

.content {
    background-color: var(--accent-muted);
    grid-column: 2;
    grid-row: 2;
    padding: 1.6rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 16px;
}

.content h1 {
    font-size: 1.4rem;
}

.projects {
    grid-column: 1;
    grid-row: 1 / -1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(235px, 1fr));
    grid-template-rows: 2rem repeat(auto-fit, minmax(150px, 250px));
    grid-auto-rows: ;
    grid-gap: 1rem;
}

.projects > h1 {
    grid-column: 1 / -1;
    grid-row: 1;
}

.card {
    background-color: #fff;
    border-radius: 12px;
    border-left: solid 6px var(--accent);
    padding: 1rem;
    box-shadow: var(--box-shadow);
}

.project-options {
    padding: 1rem 1rem 0;
    display: grid;
    grid-template-columns: repeat(3, 1rem);
    grid-gap: 1.8rem;
    justify-content: end;
}

.project-options button {
    background-color: white;
    width: 1.4rem;
    height: 1.4rem;
}

.favorite {
    background-image: url('./icons/star-plus-outline.svg');
}

.watch {
    background-image: url('./icons/eye-plus-outline.svg');
}

.fork {
    background-image: url('./icons/source-fork.svg');
}

.announcements {
    grid-column: 2;
    grid-row: 1;
}
.announcements > h1,
.trending > h1 {
    margin-bottom: 1rem;
}


.announcements-container,
.trending-container {
    background-color: white;
    padding: 1rem;
    border-radius: 12px;
    box-shadow: var(--box-shadow);
}

.announcements-container p {
    padding-bottom: 0.5rem;
}

.announcements-container hr {
    width: 90%;
    margin: .25rem auto .5rem;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.trending {
    grid-column: 2;
    grid-row: 2;
}

.trending-container {
    display: grid;
    grid-gap: 1rem;
}

.trending-project {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr;
}

.trending-project > .user-icon {
    grid-column: 1;
    grid-row: 1 / 3;
    padding: 0 .5rem;
}

.trending-project > .user-icon img {
    width: 3rem;
    height: 3rem;
}

.trending-project > .user-handle {
    grid-column: 2;
    grid-row: 1;
    font-weight: bold;
}

.trending-project > .user-name {
    grid-column: 2;
    grid-row: 2;
}